<html>
    <head>
    <title>Cronometro</title>
      <style>
        #button1{
    width: 100px;
    height: 50px;
    background-color: slategray;
    border: none;
          border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
    
}   
#base{
    margin-top: 70px;
}


#chronotime{
    margin-top: 30px;
    height: 100px;
    color: slategray;
    padding: 3px;
}

#a{
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
   
}
      </style>
    <link rel="shortcut icon" href="../Imagenes/ns2.png" />
    </head>
   <body >
       <div id="a">
       <span id="chronotime">00:00:00</span>
       <form id="base" name="chronoForm">
           <input type="button" name="startstop" value="Start" onClick="chronoStart()" id="button1"/>
           <input type="button" name="reset" value="Reset" onClick="chronoReset()" id="button1"/>
           </form></div>

</body>
  <script>
    var startTime = 0
var start = 0
var end = 0
var diff = 0
var timerID = 0
function chrono(){
	end = new Date()
	diff = end - start
	diff = new Date(diff)
	var msec = diff.getMilliseconds()
	var sec = diff.getSeconds()
	var min = diff.getMinutes()
	if (min < 10){
		min = "0" + min
	}
	if (sec < 10){
		sec = "0" + sec
	}
	if(msec < 10){
		msec = "00" +msec
	}
	else if(msec < 100){
		msec = "0" +msec
	}
	document.getElementById("chronotime").innerHTML = min + ":" + sec + ":" + msec
	timerID = setTimeout("chrono()", 10)
}
function chronoStart(){
	document.chronoForm.startstop.value = "Stop"
	document.chronoForm.startstop.onclick = chronoStop
	document.chronoForm.reset.onclick = chronoReset
	start = new Date()
	chrono()
}
function chronoContinue(){
	document.chronoForm.startstop.value = "Stop"
	document.chronoForm.startstop.onclick = chronoStop
	document.chronoForm.reset.onclick = chronoReset
	start = new Date()-diff
	start = new Date(start)
	chrono()
}
function chronoReset(){
	document.getElementById("chronotime").innerHTML = "00:00:000"
	start = new Date()
}
function chronoStopReset(){
	document.getElementById("chronotime").innerHTML = "00:00:000"
	document.chronoForm.startstop.onclick = chronoStart
}
function chronoStop(){
	document.chronoForm.startstop.value = "Start"
	document.chronoForm.startstop.onclick = chronoContinue
	document.chronoForm.reset.onclick = chronoStopReset
	clearTimeout(timerID)
}
  </script>

</html>





