{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}


    <style type="text/css">
.body { font-size: 1.1em; margin-top: 2px; }
.comment { border: 1px solid #eee; padding: 4px; margin-bottom: 12px; }      

  .buttons {
  display: inline-block;
  border-radius: 4px;
  background-color: slategray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 20px;
  width: 200px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '»';
  position: absolute;
  opacity: 1;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span  {
  padding-right: 25px;
}

.buttons:hover span:after { 
  opacity: 1;
  right: 0;
}

h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
    </style>
    <div class="main">

        <!-- Messages  -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Post  -->
        <ul>
            <div class="blog-title" style="margin-top:3%;color:slategray;"><h3>{{ post.title }}</h3></div>
            <ul style="margin-bottom:5%" >
               
	    </ul>
<div>
   {% if post.url_post|length > 0 %}
   {% include post.url_post %}
   {% else %}
   {{post.body}}
   {% endif %}
</div>	    
        </ul>
                <div style="margin-bottom:10%" w3-include-html="{% static 'tp/ej'%}{{post.id}}.html"></object></div>

            
<script>
w3IncludeHTML();
</script>
            <!-- Comments  -->
            {% if comments %}
                <p style="margin-bottom:2%">Comentarios:</p>
            {% endif %}

            <form action="" method="POST">{% csrf_token %}
            {% for comment in comments %}
                <div class="comment">
                    <div class="time"> {{ comment.author }}    | {{ comment.created }}</div>
                    <div class="body">{{ comment.body|linebreaks }}</div>
                    {% if user.is_staff %}

                    {% endif %}
                </div>
            {% endfor %}

            {% if user.is_staff and comments %}
                
                <br/>
            {% endif %}
            </form>

            
            <!-- Comment form  -->
            <!-- Comment form  -->
             <form style=";\width:30%" action="" method="POST">
            
                {% csrf_token %}
                <div class="group">
                    <input  type="text" required  id="input_text"  name='author' />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Name</label>
                    &nbsp
                    &nbsp 
                    <div class="group">     
                    <input  id="textarea1"required  name='content' />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Comentario</label>
                        </div>
  <button class="buttons" style="vertical-align:middle" type="submit" name="action"><span>Enviar</span></button>
  

</div>

            
            </form>
        </ul>
    </div>
{% endblock %}


        
